@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f1f1f1] text-black font-sans antialiased overflow-x-hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight;
    font-family: 'Oswald', sans-serif;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.4);
    color: transparent;
  }
  .dark-section .text-outline {
    -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.4);
    color: transparent;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Lenis Recommended CSS */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
